<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.necer.ncalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TestMiui9Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestMiui10Activity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestEmuiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestWeekHoldActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestAddViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.CustomCalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestCalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <!--一下为新-->


        <activity
            android:name=".activity.TestMonthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestWeekActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />


    </application>
</manifest>