<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="necer.ncalendardemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NCalendarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.MonthNotSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.MonthSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.WeekActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".activity.TestFragmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />


    </application>
</manifest>